* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Helvetica;
  }
  nav {
    height:50px;
    background-color: #a2cbb6;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  div{
    font-size: 20px;
    margin:10px;
    color:#f3dba8;
  }
  nav > div:last-child {
    margin-left: auto;
  }